<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Quản trị AZBilliard</title>
    <link href="../vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
    <link rel="stylesheet" href="../css/sb-admin-2.min.css">
    <link rel="stylesheet" href="../vendor/datatables/dataTables.bootstrap4.min.css">

</head>
<style>
    .dataTables_length {
        display: none;
    }

    .table thead th {
        vertical-align: middle;
    }

    table td {
        padding-top: 2px !important;
        padding-bottom: 2px !important;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 250px;
    }
</style>

<body id="page-top">
    <div id="wrapper">
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/admin">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">AZBilliard</div>
            </a>

            <hr class="sidebar-divider my-0">
            <li class="nav-item">
                <a class="nav-link" href="/admin">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Quản lý đặt bàn</span></a>
            </li>

            <hr class="sidebar-divider">
            <li class="nav-item">
                <a class="nav-link" href="/admin/order_membership">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>Quản lý hội viên</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/membership">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>Quản lý ưu đãi hội viên</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/admin/desk">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Quản lý bàn</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/tool">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Quản lý dụng cụ</span></a>
            </li>
            <hr class="sidebar-divider d-none d-md-block">
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                    <form class="form-inline">
                        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                            <i class="fa fa-bars"></i>
                        </button>
                    </form>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small" id="full_name"></span>
                                <img class="img-profile rounded-circle" src="../image/undraw_profile.svg">
                            </a>
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">

                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <div class="container-fluid">
                    <div class="card shadow mb-4">
                        <div class="card-header py-3 d-flex justify-content-between">
                            <h3 class="m-0 font-weight-bold text-primary">Quản lý ưu đãi</h3>
                            <button class="btn btn-primary" data-toggle="modal" data-target="#addMembership">Thêm ưu
                                đãi</button>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>STT</th>
                                            <th>Tên</th>
                                            <th>Mô tả</th>
                                            <th>Giá tháng</th>
                                            <th>Giá quý</th>
                                            <th>Giá năm</th>
                                            <th>Giảm giá</th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <div class="modal fade" id="addMembership" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Thêm ưu đãi</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row justify-content-around">
                        <div class="col-6 mb-3">
                            <div class="row justify-content-between">
                                <div class="col-3">
                                    <label for="name_create" class="col-form-label ">Tên:
                                    </label>
                                </div>
                                <div class="col-9">
                                    <input type="text" id="name_create" class="form-control" placeholder="Nhập name">
                                    <div class="invalid-feedback">Vui lòng nhập tên</div>
                                </div>
                                <div class="col-1"></div>
                            </div>
                        </div>
                        <div class="col-6 mb-3">
                            <div class="row justify-content-between">
                                <div class="col-3">
                                    <label for="price_month_create" class="col-form-label ">Giá tháng:
                                    </label>
                                </div>
                                <div class="col-9">
                                    <input type="text" id="price_month_create" class="form-control"
                                        placeholder="Nhập giá ngày">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-around">
                        <div class="col-6 mb-3">
                            <div class="row justify-content-between">
                                <div class="col-3">
                                    <label for="price_quater_create" class="col-form-label ">Giá quý:
                                    </label>
                                </div>
                                <div class="col-9">
                                    <input type="text" id="price_quater_create" class="form-control"
                                        placeholder="Nhập giá tháng">
                                </div>
                            </div>
                        </div>
                        <div class="col-6 mb-3">
                            <div class="row justify-content-between">
                                <div class="col-3">
                                    <label for="price_year_create" class="col-form-label ">Giá năm:
                                    </label>
                                </div>
                                <div class="col-9">
                                    <input type="text" id="price_year_create" class="form-control"
                                        placeholder="Nhập giá năm">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-around">
                        <div class="col-6 mb-3">
                            <div class="row justify-content-between">
                                <div class="col-3">
                                    <label for="discount_create" class="col-form-label ">Giảm giá:
                                    </label>
                                </div>
                                <div class="col-9">
                                    <input type="text" id="discount_create" class="form-control"
                                        placeholder="Nhập giảm giá">
                                </div>
                            </div>
                        </div>
                        <div class="col-6 mb-3">
                            <div class="row justify-content-between">
                                <div class="col-3">
                                    <label for="description_create" class="col-form-label">Mô tả:
                                    </label>
                                </div>
                                <div class="col-9">
                                    <input type="text" id="description_create" class="form-control"
                                        placeholder="Nhập mô tả">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger" type="button" data-dismiss="modal">Hủy bỏ</button>
                    <button class="btn btn-primary" type="button" onclick="create()">Đồng ý</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="updateMembership" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Sửa ưu đãi</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row justify-content-around">
                        <div class="col-6 mb-3">
                            <div class="row justify-content-between">
                                <div class="col-3">
                                    <label for="name_update" class="col-form-label ">Tên:
                                    </label>
                                </div>
                                <div class="col-9">
                                    <input type="text" id="name_update" class="form-control" placeholder="Nhập name">
                                    <div class="invalid-feedback">Vui lòng nhập tên</div>
                                </div>
                                <div class="col-1"></div>
                            </div>
                        </div>
                        <div class="col-6 mb-3">
                            <div class="row justify-content-between">
                                <div class="col-3">
                                    <label for="price_month_update" class="col-form-label ">Giá tháng:
                                    </label>
                                </div>
                                <div class="col-9">
                                    <input type="text" id="price_month_update" class="form-control"
                                        placeholder="Nhập giá tháng">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-around">
                        <div class="col-6 mb-3">
                            <div class="row justify-content-between">
                                <div class="col-3">
                                    <label for="price_quater_update" class="col-form-label ">Giá quý:
                                    </label>
                                </div>
                                <div class="col-9">
                                    <input type="text" id="price_quater_update" class="form-control"
                                        placeholder="Nhập giá quý">
                                </div>
                            </div>
                        </div>
                        <div class="col-6 mb-3">
                            <div class="row justify-content-between">
                                <div class="col-3">
                                    <label for="price_year_update" class="col-form-label ">Giá năm:
                                    </label>
                                </div>
                                <div class="col-9">
                                    <input type="text" id="price_year_update" class="form-control"
                                        placeholder="Nhập giá năm">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-around">
                        <div class="col-6 mb-3">
                            <div class="row justify-content-between">
                                <div class="col-3">
                                    <label for="discount_update" class="col-form-label ">Giảm giá:
                                    </label>
                                </div>
                                <div class="col-9">
                                    <input type="text" id="discount_update" class="form-control"
                                        placeholder="Nhập giảm giá">
                                </div>
                            </div>
                        </div>
                        <div class="col-6 mb-3">
                            <div class="row justify-content-between">
                                <div class="col-3">
                                    <label for="description_update" class="col-form-label">Mô tả:
                                    </label>
                                </div>
                                <div class="col-9">
                                    <input type="text" id="description_update" class="form-control"
                                        placeholder="Nhập mô tả">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger" type="button" data-dismiss="modal">Hủy bỏ</button>
                    <button class="btn btn-primary" type="button" id="btn_update" onclick="update()">Đồng ý</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="deleteMembership" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Xóa ưu đãi</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h5>Bạn có chắc chắn xóa không</h5>
                </div>
                <div class="modal-footer">
                    <button class="btn" type="button" data-dismiss="modal">Hủy bỏ</button>
                    <button class="btn btn-danger" type="button" id="btn_delete" onclick="deleteMembership()">Đồng
                        ý</button>
                </div>
            </div>
        </div>
    </div>
    <script src="../vendor/jquery/jquery.min.js"></script>
    <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="../javascript/sb-admin-2.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="../vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="../vendor/datatables/dataTables.bootstrap4.min.js"></script>
    <script src="../javascript/demo/datatables-demo.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</body>
<script>
    $.ajax({
        url: 'http://localhost:3000/api/membership',
        method: "GET",
        success: (res) => {
            if (res.status == 200) {
                renderMembership(res.metadata)
            }
        }
    })
    function renderMembership(data) {
        console.log(data)
        if (data.length > 0) {
            let html = ''
            data.forEach((membership, i) => {
                html += `<tr>
                            <td>${i + 1}</td>
                            <td>${membership.name}</td>
                            <td>${membership.description}</td>
                            <td>${membership.price_month}</td>
                            <td>${membership.price_quater}</td>
                            <td>${membership.price_year}</td>
                            <td>${membership.discount_rate}</td>
                            <td><button class = "btn btn-primary" onclick = "edit(${membership.id})" data-toggle="modal" data-target="#updateMembership">Sửa</button></td>
                            <td><button class = "btn btn-danger" onclick = "deleteT(${membership.id})" data-toggle="modal" data-target="#deleteMembership">Xóa</button></td>
                        </tr>`
            });
            console.log($('#dataTable'))
            if ($.fn.DataTable.isDataTable('#dataTable')) {
                $('#dataTable').DataTable().destroy();
            }
            $("#dataTable tbody").html(html)
            // Khởi tạo DataTable mới
            $('#dataTable').DataTable();
        }
        else {
            $("#dataTable tbody").html(`<tr><td colspan = "9"><p class="text-center">Chưa có dữ liệu</p></td></tr>`)

        }
    }

    function create() {
        const name = $('#name_create').val()
        const description = $('#description_create').val()
        const price_month = $('#price_month_create').val()
        const price_quater = $('#price_quater_create').val()
        const price_year = $('#price_year_create').val()
        const discount_rate = $('#discount_create').val()

        $.ajax({
            url: "http://localhost:3000/api/membership",
            method: "POST",
            data: {
                name: name,
                description: description,
                price_month: price_month,
                price_quater: price_quater,
                price_year: price_year,
                discount_rate: discount_rate
            },
            success: ((res) => {
                console.log(res)
                if (res.status == 200) {
                    Swal.fire({
                        icon: 'success',
                        title: 'Thông báo',
                        text: `${res.message}`,
                        timer: 1500
                    }).then(() => {
                        window.location.reload()
                    })
                }
                else if (res.code == 401) {
                    Swal.fire({
                        icon: 'error',
                        title: 'Thông báo',
                        text: `${res.message}`,
                        timer: 1500
                    }).then(() => {
                        window.location.href = `/signin_login`
                    })
                }
                else {
                    Swal.fire({
                        icon: 'error',
                        title: 'Thông báo',
                        text: `Có lỗi xảy ra`,
                        timer: 1500
                    })
                }
            })
        })
    }
    function edit(id) {
        $.ajax({
            url: `http://localhost:3000/api/membership/${id}`,
            method: "GET",
            success: ((res) => {
                console.log(res)
                if (res.status == 200) {
                    $("#name_update").val(res.metadata[0].name)
                    $("#description_update").val(res.metadata[0].description)
                    $("#price_month_update").val(res.metadata[0].price_month)
                    $("#price_quater_update").val(res.metadata[0].price_quater)
                    $("#price_year_update").val(res.metadata[0].price_year)
                    $("#discount_update").val(res.metadata[0].discount_rate)
                }
                else if (res.code == 401) {
                    Swal.fire({
                        icon: 'error',
                        title: 'Thông báo',
                        text: `${res.message}`,
                        timer: 1500
                    }).then(() => {
                        window.location.href = `/signin_login`
                    })
                }
                else {
                    Swal.fire({
                        icon: 'error',
                        title: 'Thông báo',
                        text: `Có lỗi xảy ra`,
                        timer: 1500
                    })
                }
            })
        })
        $("#btn_update").attr("onclick", `update(${id}) `)
    }
    function update(id) {
        const name = $('#name_update').val()
        const description = $('#description_update').val()
        const price_month = $('#price_month_update').val()
        const price_quater = $('#price_quater_update').val()
        const price_year = $('#price_year_update').val()
        const discount_rate = $('#discount_update').val()

        $.ajax({
            url: `http://localhost:3000/api/membership/${id}`,
            method: "POST",
            data: {
                name: name,
                description: description,
                price_month: parseInt(price_month),
                price_quater: parseInt(price_quater),
                price_year: parseInt(price_year),
                discount_rate: parseInt(discount_rate)
            },
            success: ((res) => {
                console.log(res)
                if (res.status == 200) {
                    Swal.fire({
                        icon: 'success',
                        title: 'Thông báo',
                        text: `${res.message}`,
                        timer: 1500
                    }).then(() => {
                        window.location.reload()
                    })
                }
                else if (res.code == 401) {
                    Swal.fire({
                        icon: 'error',
                        title: 'Thông báo',
                        text: `${res.message}`,
                        timer: 1500
                    }).then(() => {
                        window.location.href = `/signin_login`
                    })
                }
            })
        })
    }
    function deleteT(id) {
        $("#btn_delete").attr("onclick", `deleteMembership(${id})`)
    }
    function deleteMembership(id) {
        $.ajax({
            url: `http://localhost:3000/api/membership/${id}`,
            method: "DELETE",
            success: ((res) => {
                console.log(res)
                if (res.status == 200) {
                    Swal.fire({
                        icon: 'success',
                        title: 'Thông báo',
                        text: `${res.message}`,
                        timer: 1500
                    }).then(() => {
                        window.location.reload()
                    })
                }
                else if (res.code == 401) {
                    Swal.fire({
                        icon: 'error',
                        title: 'Thông báo',
                        text: `${res.message}`,
                        timer: 1500
                    }).then(() => {
                        window.location.href = `/signin_login`
                    })
                }
            })
        })
    }
</script>

</html>