<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <!-- Google Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
            rel="stylesheet"
        />
        <!-- Reset CSS -->
        <link rel="stylesheet" href="./reset.css" />
        <!-- Custome CSS -->
        <link rel="stylesheet" href="./giaidau.css" />
    </head>
    <body>
        <div id="header">
            <!-- main section -->
            <div class="header-section" id="header-section-main">
                <div id="header-nav">
                    <a href="../TrangChu/index.html" class="header-nav-link">
                        <div class="header-nav-link-content active">
                            TRANG CHỦ
                        </div>
                    </a>

                    <a href="../GiaiDau/giaiDau.html" class="header-nav-link">
                        <div class="header-nav-link-content" id="dropdown">
                            GIẢI ĐẤU
                        </div>
                    </a>

                    <a href="../HoiVien/membership.html" class="header-nav-link">
                        <div class="header-nav-link-content" id="dropdown">
                            HỘI VIÊN
                        </div>
                    </a>
                </div>

                <a id="header-logo" href="../TrangChu/index.html"
                    ><img src="../img/logo.png" alt=""
                /></a>

                <!-- search -->
                <div id="header-utility">
                    <!-- <form action="" id="header-search">
                        <input type="text" class="header-search" id="search-input">
                        <button class="header-search" id="search-btn"> -->
                    <a href="">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="25"
                            height="25"
                            viewBox="190 5 50 50"
                            fill="none"
                        >
                            <path
                                d="M214.333 39.6667C221.697 39.6667 227.667 33.6971 227.667 26.3333C227.667 18.9695 221.697 13 214.333 13C206.97 13 201 18.9695 201 26.3333C201 33.6971 206.97 39.6667 214.333 39.6667Z"
                                stroke="#DEB526"
                                stroke-width="4"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                            />
                            <path
                                d="M231 43L223.75 35.75"
                                stroke="#DEB526"
                                stroke-width="4"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                            />
                        </svg>
                    </a>
                    <!-- </button>
                    </form> -->

                    <div class="header-utility-separator"></div>

                    <a href="../DangNhap/signin_login.html">
                        <svg width="25" height="25">
                            <circle
                                cx="15"
                                cy="10"
                                r="5"
                                stroke=""
                                stroke-width="0"
                                fill="#DEB526"
                            />
                            <ellipse
                                cx="15"
                                cy="30"
                                rx="15"
                                ry="10"
                                fill="#DEB526"
                                stroke=""
                                stroke-width="0"
                            />
                        </svg>
                    </a>

                    <div class="header-utility-separator"></div>

                    <a href="">
                        <svg
                            id="heart-svg"
                            width="25"
                            height="25"
                            viewBox="15 15 30 30"
                            xmlns="http://www.w3.org/2000/svg"
                        >
                            <path
                                id="heart"
                                d="M29.144 20.773c-.063-.13-4.227-8.67-11.44-2.59C7.63 28.795 28.94 43.256 29.143 43.394c.204-.138 21.513-14.6 11.44-25.213-7.214-6.08-11.377 2.46-11.44 2.59z"
                                fill="#DEB526"
                            />
                        </svg>
                    </a>
                </div>
            </div>
        </div>
        <div class="tournaments_content">
            <div class="heading">
                <img
                    src="../img/image_heading.png"
                    alt=""
                    class="image_banner"
                />
                <div class="overlay">
                    <div class="content">
                        <h1 class="heading_content">GIẢI ĐẤU</h1>
                        <h1 class="tour_name">"SIÊU GÀ CON"</h1>
                        <button class="submit_tour">ĐĂNG KÍ NGAY</button>
                    </div>
                </div>
            </div>
            <div class="tournaments_info">
                <p class="title">
                    Bạn muốn đưa trò chơi của mình lên một tầm cao mới?
                </p>
                <p class="paragraph">
                    Chúng tôi cung cấp các giải đấu nhằm thu hút những người
                    chơi địa phương tài năng nhất. Hãy đăng ký ngay bây giờ và
                    so tài kỹ năng của bạn!
                </p>
                <div class="detail_info">
                    <div class="detail_column_tilte">
                        <div class="detail_title_row">Mô tả:</div>
                        <div class="detail_title_row">Hình thức thi đấu:</div>
                        <div class="detail_title_row">Thể thức:</div>
                        <div class="detail_title_row">Thể loại:</div>
                        <div class="detail_title_row">Ngày thi đấu:</div>
                        <div class="detail_title_row">Thời gian đăng ký:</div>
                        <div class="detail_title_row">Lệ phí tham gia:</div>
                        <div class="detail_title_row">Địa điểm:</div>
                    </div>
                    <div class="detail_column_content">
                        <div class="detail_content_row">
                            Sự kiện kỷ niệm 2 năm thành lập AZBilliard!
                        </div>
                        <div class="detail_content_row">Thi đấu đơn!</div>
                        <div class="detail_content_row">Loại trực tiếp</div>
                        <div class="detail_content_row">Pool</div>
                        <div class="detail_content_row">15/5/2024</div>
                        <div class="detail_content_row">
                            15/4/2024 - 13/4/2024
                        </div>
                        <div class="detail_content_row">250.000đ/người</div>
                        <div class="detail_content_row">
                            Tầng 2 số 20 ngõ 113 Hoàng Cầu Ô chợ Dừa, Đống Đa,
                            Hà Nội
                        </div>
                    </div>
                </div>
            </div>
            <div class="separator">
                <p class="paragraph">GIẢI THƯỞNG LÊN ĐẾN 5.000.000đ !!!!!</p>
            </div>
            <div class="award">
                <h3 class="award_heading">Cơ cấu giải thưởng:</h3>
                <p class="award_content">
                    - Giải nhất: 5.000.000đ tiền mặt + cờ & cúp
                </p>
                <p class="award_content">
                    - Giải nhì: 2.000.000đ tiền mặt + cờ
                </p>
                <p class="award_content">
                    - Giải ba (Đồng giải ba): 500.000đ tiền mặt + cờ
                </p>
            </div>
            <div class="banner_touraments">
                <p class="paragraph">Dành cho 32 Cơ thủ</p>
                <img src="../img/banner.png" alt="" class="banner" />
            </div>
            <div class="rules">
                <h2 class="heading_rules">Luật thi đấu:</h2>
                <p class="content_rules">• Phá luân phiên.</p>
                <p class="content_rules">
                    • Bắt 3 đui liên tiếp (Phạm lỗi 3 lần liên tục):
                </p>
                <p class="content_rules">
                    Nếu đấu thủ phạm lỗi 3 lần liên tục trong 3 cú đánh mà không
                    thực hiện được một cú đánh hợp lệ thì đấu thủ đó sẽ bị xử
                    thua ván đấu đó. 3 lần phạm lỗi liên tục đó phải xảy ra
                    trong 1 ván. Lời cảnh báo sẽ được đưa ra ở giữa lần phạm lỗi
                    thứ 2 và lần thứ 3.
                </p>
                <p class="content_rules">• Vòng bảng 2 mạng.</p>
                <p class="content_rules">• Đồng cơ chạm 7.</p>
                <p class="content_rules">• G chấp H 7 chấp 1.</p>
                <p class="content_rules">• H chấp I 7 chấp 1.</p>
                <p class="content_rules">• G chấp I 7 chấp 2.</p>
                <h2 class="heading_rules">LƯU Ý:</h2>
                <p class="content_rules">
                    • Các cơ thủ đăng ký đúng hạng cơ của mình, cơ thủ nào đăng
                    ký gian lận sẽ bị xử phạt (hình thức do BTC quyết định).
                </p>
                <p class="content_rules">
                    • Cơ thủ nào đến muộn 15p sẽ bị xử thua.
                </p>
            </div>
            <div class="register">
                <button class="submit_tour">ĐĂNG KÝ NGAY</button>
            </div>
        </div>
        <div id="footer">
            <a href="../TrangChu/index.html"><img src="../img/logo.png" alt="" id="footer-logo"></a>
            <div class="footer-section" >

                <span class="footer-heading"">LIÊN HỆ</span>
                <div><span class="footer-info-title">Địa chỉ: </span><span class="footer-info">số 20 ngõ 113 Hoàng Cầu, Ô chợ Dừa, Đống Đa, Hà Nội</span></div>
                <div><span class="footer-info-title">Hotline: </span><span class="footer-info">037287908</span></div>
                <div><span class="footer-info-title">Mở cửa: </span><span class="footer-info">24/7</span></div>
            </div>

            <div class="footer-section">
                <h2 class="footer-heading">THÔNG TIN</h2>
                <a href="">Liên hệ</a>
                <a href="">Giới thiệu</a>
                <a href="">Tuyển dụng</a>
            </div>

            <div class="footer-section">
                <h2 class="footer-heading">CHÍNH SÁCH</h2>
                <a href="">Chính Sách Bảo Mật</a>
                <a href="">Hướng dẫn thanh toán</a>
                <a href="">Hướng dẫn đặt bàn</a>
            </div>

            <div class="footer-section" id="footer-last-section">
                <h2 class="footer-heading">CHỨNG NHẬN</h2>
                <img src="../img/bct.png" alt="">
                <img src="../img/ncsc.png" alt="">
            </div>
        </div>
    </body>
    <script src="../universal/header.js"></script>
</html>