<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AzBillards | Thanh toán</title>
    <!-- Favicon -->
    <!-- Google Fonts -->
    <!--Reset CSS -->
    <link rel="stylesheet" href="../css/reset.css" />
    <!-- Style CSS -->
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/membership_payment.css">
</head>
<body>
    <!-- header -->
    <div id="header">
        <!-- main section -->
        <div class="header-section" id="header-section-main">
            <div id="header-nav">
                <a href="/" class="header-nav-link">
                    <div class="header-nav-link-content">
                        TRANG CHỦ
                    </div>
                </a>

                <a href="/giai-dau" class="header-nav-link">
                    <div class="header-nav-link-content" id="dropdown">
                        GIẢI ĐẤU
                    </div>
                </a>

                <a href="/membership" class="header-nav-link">
                    <div class="header-nav-link-content active" id="dropdown">
                        HỘI VIÊN
                    </div>
                </a>
            </div>


            <a id="header-logo" href="/"><img src="../public/image/logo.png"  alt=""></a>

            <div id="header-utility">

                <a href="/signin_login">
                    <svg width='30' height='30'>
                        <circle cx='15' cy='10' r='7' stroke='' stroke-width='0' fill='#DEB526' />
                        <ellipse cx='15' cy='30' rx='15' ry='10' fill='#DEB526' stroke='' stroke-width='0' />
                     </svg>
                </a>

            </div>
        </div>
    </div>

    <!-- body -->

    <div id="body-container">
        <h1>Quét mã QR dưới đây để thanh toán</h1>
        <div class="note">
            <span class="note-bold">Lưu ý: </span><span>Để  tiếp tục nộp phí hội viên, hãy thanh tóa bằng mã QR được gửi tới địa chỉ email của bạn mỗi tháng hoặc nộp trực tiếp tại quầy thu ngân. Sau khi thanh toán xong, bấm hoàn thành thanh toán và đợi nhân viên của chúng tôi kiểm tra và cập nhật mức hội viên của bạn. Xin trân thành cảm ơn!</span>
        </div>
        <img src="../image/qr.png" alt="" id="qr">
        <a href="/payment_complete" id="payment-complete-btn">Hoàn thành thanh toán</div></a>
    </div>

    <!-- footer -->
    <div id="footer">
        <a href="/"><img src="../image/logo.png" alt="" id="footer-logo"></a>
        <div class="footer-section" >

            <span class="footer-heading">LIÊN HỆ</span>
            <div><span class="footer-info-title">Địa chỉ: </span><span class="footer-info">số 20 ngõ 113 Hoàng Cầu, Ô chợ Dừa, Đống Đa, Hà Nội</span></div>
            <div><span class="footer-info-title">Hotline: </span><span class="footer-info">037287908</span></div>
            <div><span class="footer-info-title">Mở cửa: </span><span class="footer-info">24/7</span></div>
        </div>

        <div class="footer-section">
            <h2 class="footer-heading">THÔNG TIN</h2>
            <a href="">Liên hệ</a>
            <a href="">Giới thiệu</a>
            <a href="">Tuyển dụng</a>
        </div>

        <div class="footer-section">
            <h2 class="footer-heading">CHÍNH SÁCH</h2>
            <a href="">Chính Sách Bảo Mật</a>
            <a href="">Hướng dẫn thanh toán</a>
            <a href="">Hướng dẫn đặt bàn</a>
        </div>

        <div class="footer-section" id="footer-last-section">
            <h2 class="footer-heading">CHỨNG NHẬN</h2>
            <img src="../image/footer_bct.png" alt="">
            <img src="../image/footer_ncsc.png" alt="">
        </div>
    </div>
</body>
<script src="../javascript/header.js"></script>
</html>