<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>AzBillards | Hội viên</title>
        <!-- Favicon -->
        <!-- Google Fonts -->
        <!--Reset CSS -->
        <link rel="stylesheet" href="../css/reset.css" />
        <!-- Style CSS -->
        <link rel="stylesheet" href="../css/header.css">
        <link rel="stylesheet" href="../css/footer.css">
        <link rel="stylesheet" href="../css/membership.css">
    </head>
    <body>
      <!-- header -->
      <div id="header">
        <!-- main section -->
        <div class="header-section" id="header-section-main">
            <div id="header-nav">
                <a href="/" class="header-nav-link">
                    <div class="header-nav-link-content">
                        TRANG CHỦ
                    </div>
                </a>

                <a href="/giai-dau" class="header-nav-link">
                    <div class="header-nav-link-content" id="dropdown">
                        GIẢI ĐẤU
                    </div>
                </a>

                <a href="/membership" class="header-nav-link">
                    <div class="header-nav-link-content active" id="dropdown">
                        HỘI VIÊN
                    </div>
                </a>
            </div>


            <a id="header-logo" href="/"><img src="../image/logo.png"  alt=""></a>

            <div id="header-utility">
                <a href="/signin_login">
                    <svg width='25' height='25'>
                        <circle cx='15' cy='10' r='5' stroke='' stroke-width='0' fill='#DEB526' />
                        <ellipse cx='15' cy='30' rx='15' ry='10' fill='#DEB526' stroke='' stroke-width='0' />
                     </svg>
                </a>
            </div>
        </div>
    </div>

        <!-- body -->
        <div id="body-container">
            <h1>QUYỀN LỢI HỘI VIÊN</h1>

            <div class="header-separator"></div>
            
            <div class="benefits">
                <h2 class="benefits-header">Nhận ưu đãi giảm giá</h2>
                <div>
                    <p class="benefits-detail">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquid, ab consectetur officia quam eum nobis praesentium iusto maxime blanditiis ducimus exercitationem soluta distinctio quo quisquam itaque minus! Adipisci, minima fuga! </p>
                    <img src="../image/membership_discount.png" alt="" class="benefit-img">
                </div>
            </div>
            <div class="benefits">
                <h2 class="benefits-header benefit-middle">Tham gia các giải đấu của câu lạc bộ</h2>
                <div>
                    <img src="../image/membership_vs.jpg" alt="" class="benefit-img">
                    <p class="benefits-detail benefit-middle">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquid, ab consectetur officia quam eum nobis praesentium iusto maxime blanditiis ducimus exercitationem soluta distinctio quo quisquam itaque minus! Adipisci, minima fuga! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquid, ab consectetur officia quam eum nobis praesentium iusto maxime blanditiis ducimus exercitationem soluta distinctio quo quisquam itaque minus! Adipisci, minima fuga! </p>
                </div>
            </div>
            <div class="benefits">
                <h2 class="benefits-header">Và các ưu đãi đặc quyền khác</h2>
                <div>
                    <p class="benefits-detail">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquid, ab consectetur officia quam eum nobis praesentium iusto maxime blanditiis ducimus exercitationem soluta distinctio quo quisquam itaque minus! Adipisci, minima fuga! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquid, ab consectetur officia quam eum nobis praesentium iusto maxime blanditiis ducimus exercitationem soluta distinctio quo quisquam itaque minus!</p>
                    <img src="../image/membership_gift.png" alt="" class="benefit-img">
                </div>
            </div>

            <div class="separator">
                <div class="separator-square"></div>
                <div class="main-separator"></div>
                <div class="separator-square"></div>
            </div>

            <h2 class="benefits-header signup-now">Đăng kí ngay</h2>
            <p class="benefits-detail signup-now">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquid, ab consectetur officia quam eum nobis praesentium iusto maxime blanditiis ducimus exercitationem soluta distinctio quo quisquam itaque minus! Adipisci, minima fuga! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquid, ab consectetur officia quam eum nobis praesentium iusto maxime blanditiis ducimus exercitationem soluta distinctio quo quisquam itaque minus! Adipisci, minima fuga! </p>

            <div class="memberships-container">
                <div class="membership">
                    <h3 class="membership-name">Jack</h3>

                    <div class="separator">
                        <div class="separator-square"></div>
                        <div class="main-separator"></div>
                        <div class="separator-square"></div>
                    </div>

                    <ul>
                        <li>Nhận các ưu đãi  giảm giá</li>
                        <li>Đăng kí tham gia các giải đấu</li>
                    </ul>

                    <div class="separator">
                        <div class="separator-square"></div>
                        <div class="main-separator"></div>
                        <div class="separator-square"></div>
                    </div>

                    <a href="/membership_payment">
                        <div class="membership-btn">
                            <span>Tháng:</span>
                            <span class="membership-price">20.000đ</span>
                        </div>
                    </a>
                    <a href="/membership_payment">
                        <div class="membership-btn">
                            <span>Quý:</span>
                            <span class="membership-price">55.000đ</span>
                        </div>
                    </a>
                    <a href="/membership_payment">
                        <div class="membership-btn">
                            <span>Năm:</span>
                            <span class="membership-price">200.000đ</span>
                        </div>
                    </a>
                </div>

                    <div class="membership">
                        <h3 class="membership-name">King</h3>

                        <div class="separator">
                            <div class="separator-square"></div>
                            <div class="main-separator"></div>
                            <div class="separator-square"></div>
                        </div>

                        <ul>
                            <li>Nhận các ưu đãi  giảm giá lớn hơn</li>
                            <li>Đăng kí tham gia các giải đấu với lệ phí giảm</li>
                        </ul>

                        <div class="separator">
                            <div class="separator-square"></div>
                            <div class="main-separator"></div>
                            <div class="separator-square"></div>
                        </div>

                        <a href="/membership_payment">
                            <div class="membership-btn">
                                <span>Tháng:</span>
                                <span class="membership-price">25.000đ</span>
                            </div>
                        </a>
                        <a href="/membership_payment">
                            <div class="membership-btn">
                                <span>Quý:</span>
                                <span class="membership-price">70.000đ</span>
                            </div>
                        </a>
                        <a href="/membership_payment">
                            <div class="membership-btn">
                                <span>Năm:</span>
                                <span class="membership-price">250.000đ</span>
                            </div>
                        </a>
                    </div>
                    <div class="membership">
                        <h3 class="membership-name">Ace</h3>

                        <div class="separator">
                            <div class="separator-square"></div>
                            <div class="main-separator"></div>
                            <div class="separator-square"></div>
                        </div>

                        <ul>
                            <li>Nhận các ưu đãi  giảm giá lớn nhất</li>
                            <li>Đăng kí tham gia các giải đấu miễn phí</li>
                            <li>Nhận quà vào dịp lễ hoặc ngày sinh nhật khi đến AZBillards</li>
                        </ul>

                        <div class="separator">
                            <div class="separator-square"></div>
                            <div class="main-separator"></div>
                            <div class="separator-square"></div>
                        </div>

                        <a href="/membership_payment">
                            <div class="membership-btn">
                                <span>Tháng:</span>
                                <span class="membership-price">35.000đ</span>
                            </div>
                        </a>
                        <a href="/membership_payment">
                            <div class="membership-btn">
                                <span>Quý:</span>
                                <span class="membership-price">95.000đ</span>
                            </div>
                        </a>
                        <a href="/membership_payment">
                            <div class="membership-btn">
                                <span>Năm:</span>
                                <span class="membership-price">320.000đ</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        
        <!-- footer -->
        <div id="footer">
            <a href="/"><img src="../image/logo.png" alt="" id="footer-logo"></a>
            <div class="footer-section" >

                <span class="footer-heading">LIÊN HỆ</span>
                <div><span class="footer-info-title">Địa chỉ: </span><span class="footer-info">số 20 ngõ 113 Hoàng Cầu, Ô chợ Dừa, Đống Đa, Hà Nội</span></div>
                <div><span class="footer-info-title">Hotline: </span><span class="footer-info">037287908</span></div>
                <div><span class="footer-info-title">Mở cửa: </span><span class="footer-info">24/7</span></div>
            </div>

            <div class="footer-section">
                <h2 class="footer-heading">THÔNG TIN</h2>
                <a href="">Liên hệ</a>
                <a href="">Giới thiệu</a>
                <a href="">Tuyển dụng</a>
            </div>

            <div class="footer-section">
                <h2 class="footer-heading">CHÍNH SÁCH</h2>
                <a href="">Chính Sách Bảo Mật</a>
                <a href="">Hướng dẫn thanh toán</a>
                <a href="">Hướng dẫn đặt bàn</a>
            </div>

            <div class="footer-section" id="footer-last-section">
                <h2 class="footer-heading">CHỨNG NHẬN</h2>
                <img src="../image/footer_bct.png" alt="">
                <img src="../image/footer_ncsc.png" alt="">
            </div>
        </div>
        </body>
        <script src="../javascript/header.js"></script>
</html>