<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Đặt bàn</title>
        <!-- Font awesome -->
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        />
        <!-- Google Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
            rel="stylesheet"
        />
        <!-- Reset CSS -->
        <link rel="stylesheet" href="../universal/reset.css">
        <!-- Custom CSS -->
        <link rel="stylesheet" href="./style.css">
        <!-- <link rel="stylesheet" href="./universal/header.css"> -->
        <link rel="stylesheet" href="../universal/footer.css">
        <!-- Glider CSS -->
        <link rel="stylesheet" type="text/css" href="./Glider/glider.css">

    </head>
    <body>
        <!-- Header -->
        <div id="header">
            <!-- main section -->
            <div class="header-section" id="header-section-main">
                <div id="header-nav">
                    <a href="../TrangChu/index.html" class="header-nav-link">
                        <div class="header-nav-link-content active">
                            TRANG CHỦ
                        </div>
                    </a>
    
                    <a href="../GiaiDau/giaiDau.html" class="header-nav-link">
                        <div class="header-nav-link-content" id="dropdown">
                            GIẢI ĐẤU
                        </div>
                    </a>
    
                    <a href="../HoiVien/membership.html" class="header-nav-link">
                        <div class="header-nav-link-content" id="dropdown">
                            HỘI VIÊN
                        </div>
                    </a>
                </div>
    
    
                <a id="header-logo" href="../TrangChu/index.html"><img src="../img/logo.png"  alt=""></a>
    
    
                <!-- search -->
                <div id="header-utility">
                    <!-- <form action="" id="header-search">
                        <input type="text" class="header-search" id="search-input">
                        <button class="header-search" id="search-btn"> -->
                            <a href="">
                                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="190 5 50 50" fill="none">
                                    <path d="M214.333 39.6667C221.697 39.6667 227.667 33.6971 227.667 26.3333C227.667 18.9695 221.697 13 214.333 13C206.97 13 201 18.9695 201 26.3333C201 33.6971 206.97 39.6667 214.333 39.6667Z" stroke="#DEB526" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M231 43L223.75 35.75" stroke="#DEB526" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                            </a>
                        <!-- </button>
                    </form> -->
    
                    <div class="header-utility-separator"></div>
    
                    <a href="../DangNhap/signin_login.html">
                        <svg width='25' height='25'>
                            <circle cx='15' cy='10' r='5' stroke='' stroke-width='0' fill='#DEB526' />
                            <ellipse cx='15' cy='30' rx='15' ry='10' fill='#DEB526' stroke='' stroke-width='0' />
                         </svg>
                    </a>
    
                    <div class="header-utility-separator"></div>
    
                    <a href="">
                        <svg id="heart-svg" width="25" height="25" viewBox="15 15 30 30" xmlns="http://www.w3.org/2000/svg">
                              <path id="heart" d="M29.144 20.773c-.063-.13-4.227-8.67-11.44-2.59C7.63 28.795 28.94 43.256 29.143 43.394c.204-.138 21.513-14.6 11.44-25.213-7.214-6.08-11.377 2.46-11.44 2.59z" fill="#DEB526"/>
                          </svg>
                    </a>
                </div>
            </div>
        </div>
        <!-- Main content -->
        <main id="main_content">
            <div class="current_position">
                <a href="../TrangChu/index.html" class="current_link">TRANG CHỦ</a>
                <img
                    src="../img/chevron_right.svg"
                    alt=""
                    class="chevron_right"
                />
                <a href="#" class="current_link">ĐẶT BÀN</a>
                <img
                    src="./img/chevron_right.svg"
                    alt=""
                    class="chevron_right"
                />
                <a href="#" class="current_link active">
                    BÀN BI A KKKING K9022 MÀU TRẮNG
                </a>
            </div>
            <div class="product">
                <div class="image_product">
                    <div class="main_image_product">
                        <img
                            src="../img/main_image.png"
                            alt=""
                            class="main_image"
                        />
                    </div>
                    <div class="sub_image_product">
                        <img
                            src="../img/sub_image_1.png"
                            alt=""
                            class="sub_image"
                        />
                        <img
                            src="../img/sub_image_2.png"
                            alt=""
                            class="sub_image"
                        />
                        <img
                            src="../img/sub_image_3.png"
                            alt=""
                            class="sub_image"
                        />
                    </div>
                </div>
                <div class="info_product">
                    <h2 class="info_header">BÀN BI A KKKING K9022 MÀU TRẮNG</h2>
                    <div class="info_detail">
                        <p class="introduce">
                            <span>BÀN BI A KKKING K9022</span> – Kiểu dáng năng
                            động, khoẻ khắn khiến K9022 rất được lòng các bạn
                            trẻ hiện nay. Phù hợp với mọi không gian, từ sang
                            trong đến bình dân
                        </p>
                        <!-- Detail 1 -->
                        <div class="detail">
                            <p class="detail_index">Kích thước phủ bì</p>
                            <p class="detail_value">290cm X 165cm X 82cm</p>
                        </div>
                        <!-- Detail 2 -->
                        <div class="detail">
                            <p class="detail_index">Kích thước sử dụng</p>
                            <p class="detail_value">254cm X 127cm</p>
                        </div>
                        <!-- Detail 3 -->
                        <div class="detail">
                            <p class="detail_index">Kích thước lỗ</p>
                            <p class="detail_value">
                                10.8cm Lỗ góc, 11.2cm Lỗ Thành Dọc
                            </p>
                        </div>
                        <!-- Detail 4 -->
                        <div class="detail">
                            <p class="detail_index">Màu Sắc</p>
                            <p class="detail_value">Trắng</p>
                        </div>
                        <!-- Detail 5 -->
                        <div class="detail">
                            <p class="detail_index">Nỉ</p>
                            <p class="detail_value">
                                85% Lông cừu, 15% Sợi tổng hợp
                            </p>
                        </div>
                        <!-- Detail 6 -->
                        <div class="detail">
                            <p class="detail_index">Nép thành băng</p>
                            <p class="detail_value">Màu Nâu</p>
                        </div>
                        <!-- Detail 7 -->
                        <div class="detail">
                            <p class="detail_index">Thành băng</p>
                            <p class="detail_value">Chống cháy nổ</p>
                        </div>
                        <!-- Detail 8 -->
                        <div class="detail">
                            <p class="detail_index">Góc và ốp</p>
                            <p class="detail_value">Hợp mạ đen niken</p>
                        </div>
                        <!-- Detail 9 -->
                        <div class="detail">
                            <p class="detail_index">Đá</p>
                            <p class="detail_value">Xanh đen tự nhiên</p>
                        </div>
                        <!-- Detail 10 -->
                        <div class="detail">
                            <p class="detail_index">Băng cao su</p>
                            <p class="detail_value">UYLIN K55</p>
                        </div>
                    </div>
                    <div class="info_order">
                        <div class="status_table">
                            <p class="status">Tình Trạng:</p>
                            <span class="status_ok ok_table">Còn bàn</span>
                            <img src="" alt="" class="separator" />
                            <span class="status_no">Hết bàn</span>
                        </div>
                        <div class="price">
                            <p class="price_of_table">Giá Thuê:</p>
                            <p class="price_value">80k/H</p>
                        </div>
                        <div class="member">
                            <p class="member_card">Thẻ Hội Viên:</p>
                            <p class="content_member_card">Bạc (giảm 10%)</p>
                        </div>
                        <div class="select_combo">
                            <p class="content_select_combo">Chọn combo:</p>
                            <a href="#" class="combo active">Combo 1</a>
                            <img src="" alt="" class="separator" />
                            <a href="#" class="combo">Combo 2</a>
                            <img src="" alt="" class="separator" />
                            <a href="#" class="combo">Combo 3</a>
                        </div>
                        <div class="order_table">
                            <button class="rent_tool">THUÊ DỤNG CỤ</button>
                            <button class="order">ĐẶT NGAY</button>
                            <span class="show_list">
                                <img src="" alt="" class="icon_list" />
                            </span>
                            <button class="list_selected">
                                <img
                                    src="../img/list_selected.svg"
                                    alt=""
                                    class="icon_list_selected"
                                />
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="description">
                <div class="title">
                    <h3 class="main_description active">Mô tả</h3>
                    <h3 class="sub_description">Thông tin bổ sung</h3>
                </div>
                <div class="content_main active">
                    <p class="content">
                        KKKing K9022 có thiết kế sang trọng, đẳng cấp với kiểu
                        dáng đang được ưa chuộng hiện nay
                    </p>
                    <p class="content">
                        Đá: mặt đá tự nhiên 03 tấm bùn đen độ phẳng 99.99% tiêu
                        chuẩn thi đấu
                    </p>
                    <p class="content">
                        Đá: mặt đá tự nhiên 03 tấm bùn đen độ phẳng 99.99% tiêu
                        chuẩn thi đấu
                    </p>
                    <p class="content">
                        Thành băng: làm bằng gỗ thịt phủ laminate công nghệ cao
                        chống cháy rộp do thuốc lá.
                    </p>
                </div>
                <div class="content_sub hidden">
                    <p class="content">THƯƠNG HIỆU: KKKing</p>
                    <p class="content">NGUỒN GỐC - XUẤT XỨ: Việt Nam</p>
                    <p class="content">DÒNG SẢN PHẨM: Bàn Bida Lỗ</p>
                    <p class="content">MÀU SẮC: Trắng (White)</p>
                </div>
            </div>
            <div class="others">
                <h3 class="title_others">Các loại bàn khác</h3>
                    <div class="glider-contain" style="display: flex; align-items: center;">
                        <div class="glider">
                            <div class="product">
                                <img src="../img/img_product_others.png" alt="" class="product_image">
                                <div class="product_info">
                                    <h4 class="product_name">Bàn Billards Allenton</h4>
                                    <p class="product_price">80k/H</p>
                                </div>
                            </div>
                            <!-- Product_2 -->
                            <div class="product">
                                <img src="../img/img_product_others.png" alt="" class="product_image">
                                <div class="product_info">
                                    <h4 class="product_name">Bàn Billards Allenton</h4>
                                    <p class="product_price">80k/H</p>
                                </div>
                            </div>
                            <!-- Product_3 -->
                            <div class="product">
                                <img src="../img/img_product_others.png" alt="" class="product_image">
                                <div class="product_info">
                                    <h4 class="product_name">Bàn Billards Allenton</h4>
                                    <p class="product_price">80k/H</p>
                                </div>
                            </div>
                            <!-- Product_4 -->
                            <div class="product">
                                <img src="../img/img_product_others.png" alt="" class="product_image">
                                <div class="product_info">
                                    <h4 class="product_name">Bàn Billards Allenton</h4>
                                    <p class="product_price">80k/H</p>
                                </div>
                            </div>
                            <!-- Product_5 -->
                            <div class="product">
                                <img src="../img/img_product_others.png" alt="" class="product_image">
                                <div class="product_info">
                                    <h4 class="product_name">Bàn Billards Allenton</h4>
                                    <p class="product_price">80k/H</p>
                                </div>
                            </div>
                            <!-- Product_6 -->
                            <div class="product">
                                <img src="../img/img_product_others.png" alt="" class="product_image">
                                <div class="product_info">
                                    <h4 class="product_name">Bàn Billards Allenton</h4>
                                    <p class="product_price">80k/H</p>
                                </div>
                            </div>
                        </div>
                      
                        <button aria-label="Previous" class="glider-prev"><i class="fa-solid fa-chevron-left"></i></button>
                        <button aria-label="Next" class="glider-next"><i class="fa-solid fa-chevron-right"></i></button>
                        <div role="tablist" class="dots"></div>
                      </div>
                </div>
            </div>
        </main>
        <!-- Footer -->
        <div id="footer">
            <a href="../TrangChu/index.html"><img src="../img/logo.png" alt="" id="footer-logo"></a>
            <div class="footer-section" >

                <span class="footer-heading"">LIÊN HỆ</span>
                <div><span class="footer-info-title">Địa chỉ: </span><span class="footer-info">số 20 ngõ 113 Hoàng Cầu, Ô chợ Dừa, Đống Đa, Hà Nội</span></div>
                <div><span class="footer-info-title">Hotline: </span><span class="footer-info">037287908</span></div>
                <div><span class="footer-info-title">Mở cửa: </span><span class="footer-info">24/7</span></div>
            </div>

            <div class="footer-section">
                <h2 class="footer-heading">THÔNG TIN</h2>
                <a href="">Liên hệ</a>
                <a href="">Giới thiệu</a>
                <a href="">Tuyển dụng</a>
            </div>

            <div class="footer-section">
                <h2 class="footer-heading">CHÍNH SÁCH</h2>
                <a href="">Chính Sách Bảo Mật</a>
                <a href="">Hướng dẫn thanh toán</a>
                <a href="">Hướng dẫn đặt bàn</a>
            </div>

            <div class="footer-section" id="footer-last-section">
                <h2 class="footer-heading">CHỨNG NHẬN</h2>
                <img src="../img/bct.png" alt="">
                <img src="../img/ncsc.png" alt="">
            </div>
        </div>
    </body>
    <script src="./js/orderTable.js"></script>
    <script src="./Glider/glider.js"></script>
    <script>
        new Glider(document.querySelector('.glider'), {
            slidesToShow: 3,
            dots: '#dots',
            arrows: {
                prev: '.glider-prev',
                next: '.glider-next'
            }
        });
    </script>
    <script src="../universal/header.js"></script>
</html>
