<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Đặt bàn</title>
    <!-- Font awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" />
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet" />
    <!-- Reset CSS -->
    <link rel="stylesheet" href="../css/reset.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/stylePopup.css">
    <link rel="stylesheet" href="../css/header.css">

    <!-- Glider CSS -->
    <link rel="stylesheet" type="text/css" href="../Glider/glider.css">


</head>

<body>
    <!-- Header -->
    <div id="header">
        <!-- main section -->
        <div class="header-section" id="header-section-main">
            <div id="header-nav">
                <a href="/" class="header-nav-link">
                    <div class="header-nav-link-content active">
                        TRANG CHỦ
                    </div>
                </a>

                <a href="/giai-dau" class="header-nav-link">
                    <div class="header-nav-link-content" id="dropdown">
                        GIẢI ĐẤU
                    </div>
                </a>

                <a href="/membership" class="header-nav-link">
                    <div class="header-nav-link-content" id="dropdown">
                        HỘI VIÊN
                    </div>
                </a>
            </div>


            <a id="header-logo" href="/"><img src="../image/logo.png" alt=""></a>


            <div id="header-utility">

                <a href="/signin_login">
                    <svg width='30' height='30'>
                        <circle cx='15' cy='10' r='7' stroke='' stroke-width='0' fill='#DEB526' />
                        <ellipse cx='15' cy='30' rx='15' ry='10' fill='#DEB526' stroke='' stroke-width='0' />
                    </svg>
                </a>

            </div>
        </div>
    </div>
    <!-- Main content -->
    <main id="main_content">
        <div class="current_position">

        </div>
        <div class="product">
            <div class="image_product">
                <div class="main_image_product">
                    <img src="../image/img_product_others.png" alt="" class="main_image" />
                </div>
                <div class="sub_image_product">
                    <img src="../image/sub_image_1.png" alt="" class="sub_image" />
                    <img src="../image/sub_image_2.png" alt="" class="sub_image" />
                    <img src="../image/sub_image_3.png" alt="" class="sub_image" />
                </div>
            </div>
            <div class="info_product">
            </div>
        </div>
        <div class="description">
            <div class="title">
                <h3 class="main_description active">Mô tả</h3>
                <h3 class="sub_description">Thông tin bổ sung</h3>
            </div>
            <div class="content_main active">
                <p class="content">
                    Thiết kế sang trọng, đẳng cấp với kiểu
                    dáng đang được ưa chuộng hiện nay
                </p>
                <p class="content">
                    Đá: mặt đá tự nhiên 03 tấm bùn đen độ phẳng 99.99% tiêu
                    chuẩn thi đấu
                </p>
                <p class="content">
                    Thành băng: làm bằng gỗ thịt phủ laminate công nghệ cao
                    chống cháy rộp do thuốc lá.
                </p>
            </div>
            <div class="content_sub hidden">
                <p class="content">THƯƠNG HIỆU: KKKing</p>
                <p class="content">NGUỒN GỐC - XUẤT XỨ: Việt Nam</p>
                <p class="content">DÒNG SẢN PHẨM: Bàn Bida Lỗ</p>
            </div>
        </div>
        <div class="others">
            <h3 class="title_others">Các loại bàn khác</h3>
            <div class="glider-contain" style="display: flex; align-items: center;">
                <div class="glider">
                </div>

                <button aria-label="Previous" class="glider-prev"><i class="fa-solid fa-chevron-left"></i></button>
                <button aria-label="Next" class="glider-next"><i class="fa-solid fa-chevron-right"></i></button>
                <div role="tablist" class="dots"></div>
            </div>
        </div>
        </div>
    </main>
    <!-- Footer -->
    <div id="footer">
        <a href="/"><img src="../image/logo.png" alt="" id="footer-logo"></a>
        <div class="footer-section">

            <span class="footer-heading"">LIÊN HỆ</span>
                <div><span class=" footer-info-title">Địa chỉ: </span><span class="footer-info">số 20 ngõ 113 Hoàng
                Cầu, Ô chợ Dừa, Đống Đa, Hà Nội</span>
        </div>
        <div><span class="footer-info-title">Hotline: </span><span class="footer-info">037287908</span></div>
        <div><span class="footer-info-title">Mở cửa: </span><span class="footer-info">24/7</span></div>
    </div>

    <div class="footer-section">
        <h2 class="footer-heading">THÔNG TIN</h2>
        <a href="">Liên hệ</a>
        <a href="">Giới thiệu</a>
        <a href="">Tuyển dụng</a>
    </div>

    <div class="footer-section">
        <h2 class="footer-heading">CHÍNH SÁCH</h2>
        <a href="">Chính Sách Bảo Mật</a>
        <a href="">Hướng dẫn thanh toán</a>
        <a href="">Hướng dẫn đặt bàn</a>
    </div>

    <div class="footer-section" id="footer-last-section">
        <h2 class="footer-heading">CHỨNG NHẬN</h2>
        <img src="../image/bct.png" alt="">
        <img src="../image/ncsc.png" alt="">
    </div>
    </div>

    <div id="popup-background">
        <div class="menu">
            <!-- item list menu -->
            <div class="popup-content" id="cue-menu">
            </div>

            <div class="popup-content" id="table-menu">
            </div>

            <!-- close btn -->
            <div id="close-btn">X</div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
</body>
<script src="../javascript/orderTable.js"></script>
<script src="../javascript/header.js"></script>
<script src="../javascript/popup.js"></script>
<script src="../Glider/glider.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
    const idTable = window.location.href[window.location.href.length - 1]
    var idTool
    start();
    function start() {

        $.ajax({
            url: 'http://localhost:3000/api/desk/' + idTable,
            method: "GET",
            success: (res) => {
                if (res.status == 200) {

                    renderTableInfo(res.metadata)
                    renderNav(res.metadata)
                    renderRentTable(res.metadata)

                    idTool = res.metadata[0].id_tool

                    $.ajax({
                        url: 'http://localhost:3000/api/tool/' + idTool,
                        method: "GET",
                        success: (res) => {
                            if (res.status == 200) {
                                renderTool(res.metadata)
                                renderRentTool(res.metadata)
                            }
                        }
                    })
                }
            }
        })

        $.ajax({
            url: 'http://localhost:3000/api/order/membership/user',
            method: "GET",
            success: (res) => {
                if (res.status == 200) {
                    renderMembership(res.metadata)
                }
            }
        })

        $.ajax({
            url: 'http://localhost:3000/api/desk',
            method: "GET",
            success: (res) => {
                if (res.status == 200) {
                    let html = ''
                    html += renderTable(res.metadata)
                    $('.glider').html(html)

                    new Glider(document.querySelector('.glider'), {
                        slidesToShow: 3,
                        // dots: '.dots',
                        arrows: {
                            prev: '.glider-prev',
                            next: '.glider-next'
                        }
                    });
                }
            }
        })


    }

    function renderNav(data) {
        let html = ''
        html += `<a href="/" class="current_link">TRANG CHỦ</a>
            <img src="../image/chevron_right.svg" alt="" class="chevron_right" />
            <a href="" class="current_link active" id="table-nav">
                ${data[0].name}
            </a>`

        $('.current_position').html(html)
    }

    function renderTableInfo(data) {
        let html = ''
        html += `<h2 class="info_header">${data[0].name}</h2>
                <div class="info_detail">
                    <p class="introduce">
                        <span id="table-name">${data[0].name}</span> <span id="table-description">
                            – ${data[0].description}
                            </span>
                            </p>
                            <!-- Detail 1 -->
                            <div class="detail">
                        <p class="detail_index">Kích thước phủ bì</p>
                        <p class="detail_value">${data[0].outer_dimension}</p>
                    </div>
                    <!-- Detail 2 -->
                    <div class="detail">
                        <p class="detail_index">Kích thước sử dụng</p>
                        <p class="detail_value">${data[0].usable_dimension}</p>
                        </div>
                        <!-- Detail 3 -->
                        <div class="detail">
                            <p class="detail_index">Kích thước lỗ</p>
                            <p class="detail_value">
                                ${data[0].hole_dimension}
                                </p>
                                </div>
                                <!-- Detail 4 -->
                                <div class="detail">
                                    <p class="detail_index">Màu Sắc</p>
                                    <p class="detail_value">${data[0].color}</p>
                                    </div>
                                    <!-- Detail 5 -->
                                    <div class="detail">
                        <p class="detail_index">Nỉ</p>
                        <p class="detail_value">
                            ${data[0].fabric}
                        </p>
                    </div>
                    <!-- Detail 6 -->
                    <div class="detail">
                        <p class="detail_index">Nép thành băng</p>
                        <p class="detail_value">${data[0].cushion_rail}</p>
                        </div>
                        <!-- Detail 7 -->
                        <div class="detail">
                            <p class="detail_index">Thành băng</p>
                            <p class="detail_value">${data[0].cushion}</p>
                            </div>
                            <!-- Detail 8 -->
                            <div class="detail">
                                <p class="detail_index">Góc và ốp</p>
                                <p class="detail_value">${data[0].edge_and_trim}</p>
                    </div>
                    <!-- Detail 9 -->
                    <div class="detail">
                        <p class="detail_index">Đá</p>
                        <p class="detail_value">${data[0].stone}</p>
                        </div>
                        <!-- Detail 10 -->
                        <div class="detail">
                            <p class="detail_index">Băng cao su</p>
                            <p class="detail_value">${data[0].rubber_band}</p>
                            </div>
                            </div>
                <div class="info_order">
                    <div class="price">
                            <p class="price_of_table">Giá Thuê:</p>
                            <p class="price_value">${data[0].price}đ/h</p>
                            </div>
                            <div class="member">
                                <p class="member_card">Mức Hội Viên:</p>
                                <p class="content_member_card"></p>
                                </div>
                                <div class="select_combo">
                                    <p class="content_select_combo">Chọn combo:</p>
                                    <button class="combo" data = "0">Combo 1</button>
                                    <img src="" alt="" class="separator" />
                                    <button class="combo" data = "1">Combo 2</button>
                                    <img src="" alt="" class="separator" />
                                    <button class="combo" data = "2">Combo 3</button>
                                    </div>
                                    <div class="order_table">
                                        <button id="rent_tool">THUÊ DỤNG CỤ</button>
                                        <button id="rent-table-no-tools">THUÊ NGAY</button>
                                        </div>
                                        </div>`

        $('.info_product').html(html)
    }

    function renderTable(data) {
        let html = ''
        let countTable = data.length;
        for (let i = 0; i < countTable; i++) {
            html += `<a href="/orderTable/${data[i].id}">
                        <div class="product">
                            <img src="../image/img_product_others.png" alt="" class="product_image">
                            <div class="product_info">
                                <h4 class="product_name">${data[i].name}</h4>
                                <p class="product_price">${data[i].price}đ/h</p>
                            </div>
                        </div>
                    </a>`
        }

        return html;
    }

    function renderTool(data) {
        let html = ''
        html += `<div class="popup_image">
                    <div class="image">
                        <img src="../image/main_img_popup.png" alt="" class="main_image" />
                        <div class="sub_image">
                            <img src="../image/sub_img_1.png" alt="" class="sub_img" />
                            <img src="../image/sub_img_2.png" alt="" class="sub_img" />
                            <img src="../image/sub_img_3.png" alt="" class="sub_img" />
                        </div>
                    </div>
                </div>
                <div class="popup_info">
                    <div class="info_detail">
                        <h2 id="heading_info">
                            ${data[0].name}
                        </h2>
                        <p id="price_info">${data[0].price}đ</p>
                        <p class="content_info">${data[0].description}</p>
                    </div>
                    <div class="select_and_rent">
                        <p class="quantity_label">Số lượng:</p>
                        <div class="select_quantity">
                            <button id="minus_btn">-</button>
                            <span id="cue-quantity">2</span>
                            <button id="plus_btn">+</button>
                        </div>
                        <button id="rent-table-with-tools">THUÊ NGAY</button>
                    </div>
                </div>`

        $('#cue-menu').html(html)

        initPopup();
    }

    function renderRentTable(data) {
        let html = ''
        html += `<h2>THÔNG TIN ĐẶT BÀN</h2>
                <div class="table-content">
                    <div class="img-container">
                        <img src="/image/billards_table 1.png" alt="">
                    </div>
                    <div class="info-container">
                        <div>
                            <span class="info">Tên bàn: </span><span id="info-name">${data[0].name}</span>
                        </div>
                        <div>
                            <span class="info">Giá: </span><span id="info-price">${data[0].price}đ/h</span>
                        </div>
                        <div>
                            <span class="info">Combo: </span><span id="info-combo">Combo 1</span>
                        </div>
                        <div>
                            <span class="info">Giờ bắt đầu: </span><input type="time" id = "start_time"></input>
                            <span class="info">Giờ kết thúc: </span><input type="time" id = "end_time"></input>
                            </div>
                        <div>
                                <span class="info">Ngày bắt đầu: </span><input type="date" id = "start_date"></input>
                                <span class="info">Ngày kết thúc: </span><input type="date" id = "end_date"></input>
                        </div>
                        <div>
                            <span class="info">Mức hội viên: </span><span id="info-membership"></span>
                        </div>
                        <div>
                            <span class="info">Dụng cụ: </span><span id="info-tools"></span>
                        </div>
                        <div>
                            <span class="info">Số lượng: </span><span id="info-tools-amount">2</span>
                        </div>
                    </div>
                </div>

                <button id="call-rent" onclick = "orderTable()">XÁC NHẬN</button>`

        $("#table-menu").html(html)
    }

    function renderRentTool(data) {
        $("#info-tools").html(data[0].name)
    }

    function renderMembership(data) {
        $("#info-membership").html(data.membership_name + ' - ' + data.discount_rate + '%')
        $(".content_member_card").html(data.membership_name + ' - ' + data.discount_rate + '%')
    }
    function orderTable() {
        var startDate = new Date(`${$("#start_date").val()}T${$("#start_time").val()}`);
        var endDate = new Date(`${$("#end_date").val()}T${$("#end_time").val()}`);
        console.log(startDate <= new Date());
        console.log(startDate,new Date());
        if (startDate >= endDate || startDate <= new Date()) {
            Swal.fire({
                icon: 'error',
                title: 'Thông báo',
                text: `Thời gian đặt không hợp lệ`,
                timer: 1500
            })
            return
        }
        const data = {
            desk_id: idTable,
            tool_id: idTool,
            start_date: `${$("#start_date").val()} ${$("#start_time").val()}`,
            end_date: `${$("#end_date").val()} ${$("#end_time").val()}`,
            combo: $(".combo.active").attr("data"),
            quantity_tool: parseInt($("#cue-quantity").text())
        }
        console.log(data);
        const swalWithBootstrapButtons = Swal.mixin({
            customClass: {
                confirmButton: "btn btn-success",
                cancelButton: "btn btn-danger"
            },
            buttonsStyling: false
        });
        swalWithBootstrapButtons.fire({
            title: "Xác nhận?",
            text: "Bạn có chắc chắn không!",
            icon: "warning",
            showCancelButton: true,
            confirmButtonText: "Đồng ý!",
            cancelButtonText: "Hủy!",
            reverseButtons: true
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    url: 'http://localhost:3000/api/order/desk',
                    method: "POST",
                    data: data,
                    success: (res) => {
                        if (res.status == 200) {
                            Swal.fire({
                                icon: 'success',
                                title: 'Thông báo',
                                text: `${res.message}`,
                                timer: 1500
                            }).then(() => {
                                window.location.href = "/"
                            })
                        }
                        else {
                            Swal.fire({
                                icon: 'error',
                                title: 'Thông báo',
                                text: `${res.message}`,
                                timer: 1500
                            })
                        }
                    }
                })
            } else if (
                result.dismiss === Swal.DismissReason.cancel
            ) {

            }
        });
    }

</script>


</html>