<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <!-- Google Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
            rel="stylesheet"
        />
        <!-- Reset CSS -->
        <link rel="stylesheet" href="../universal/reset.css" />
        <!-- Custome CSS -->
        <link rel="stylesheet" href="./stylePopup.css" />
    </head>
    <body>
        <div class="overlay">
            <div class="popup">
                <div class="popup_image">
                    <button class="btn_back">< Quay Lại</button>
                    <div class="image">
                        <img
                            src="../img/main_img_popup.png"
                            alt=""
                            class="main_image"
                        />
                        <div class="sub_image">
                            <img
                                src="../img/sub_img_1.png"
                                alt=""
                                class="sub_img"
                            />
                            <img
                                src="../img/sub_img_2.png"
                                alt=""
                                class="sub_img"
                            />
                            <img
                                src="../img/sub_img_3.png"
                                alt=""
                                class="sub_img"
                            />
                        </div>
                    </div>
                </div>
                <div class="popup_info">
                    <div class="info_detail">
                        <h2 class="heading_info">
                            TRỤC CUETIC AVID PROOF BLACK LTC WRAP
                        </h2>
                        <p class="price_info">30.000đ</p>
                        <p class="content_info">• AVID Super Straight Taper</p>
                        <p class="content_info">
                            • Màu đen với các điểm nhấn bằng gỗ phong và kem
                            được nhuộm màu whisky
                        </p>
                        <p class="content_info">
                            • Cẳng tay năm điểm và ống tay áo năm cửa sổ
                        </p>
                        <p class="content_info">
                            • Leather-Tec Wrap có họa tiết da thằn lằn màu
                            whisky
                        </p>
                        <p class="content_info">
                            • Nắp mông và cổ khớp màu đen bóng
                        </p>
                        <p class="content_info">
                            • Cản trước mở rộng thông minh Duo
                        </p>
                        <p class="content_info">
                            • Trục tiêu chuẩn Chiều dài: 29”
                        </p>
                        <p class="content_info">
                            • Đầu: Tiger Everest nhiều lớp (Trung bình)
                        </p>
                        <p class="content_info">
                            • Khớp: 3/8×14 Cuetec Joint (21,30mm)
                        </p>
                        <p class="content_info">
                            • Vòng đệm trục: Phenolic đen 1,5mm
                        </p>
                        <p class="content_info">
                            • Trọng lượng tiêu chuẩn: 19oz (Acueweight có thể
                            điều chỉnh theo bước tăng 0,25 oz.)
                        </p>
                    </div>
                    <div class="select_and_rent">
                        <p class="quantity_label">Số lượng:</p>
                        <div class="select_quantity">
                            <button class="minus_btn">-</button>
                            <span class="quantity">1</span>
                            <button class="plus_btn">+</button>
                        </div>
                        <button class="call_rent">THUÊ NGAY</button>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
