<!doctype html>
<html lang="en">

<head>
    <title>Tạo giải đấu</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap" rel="stylesheet">


    <!-- Bootstrap CSS v5.2.1 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <link rel="stylesheet" href="./reset.css">
    <link rel="stylesheet" href="./lap_giai_dau.css">
</head>

<body>
        <div id="header">
            <!-- main section -->
            <div class="header-section" id="header-section-main">
                <div id="header-nav">
                    <a href="../TrangChu/index.html" class="header-nav-link">
                        <div class="header-nav-link-content active">
                            TRANG CHỦ
                        </div>
                    </a>

                    <a href="../GiaiDau/giaiDau.html" class="header-nav-link">
                        <div class="header-nav-link-content" id="dropdown">
                            GIẢI ĐẤU
                        </div>
                    </a>

                    <a href="../HoiVien/membership.html" class="header-nav-link">
                        <div class="header-nav-link-content" id="dropdown">
                            HỘI VIÊN
                        </div>
                    </a>
                </div>


                <a id="header-logo" href="main.html"><img src="../img/LOGO.png" alt=""></a>


                <!-- search -->
                <div id="header-utility">
                    <a href="">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="190 5 50 50"
                            fill="none">
                            <path
                                d="M214.333 39.6667C221.697 39.6667 227.667 33.6971 227.667 26.3333C227.667 18.9695 221.697 13 214.333 13C206.97 13 201 18.9695 201 26.3333C201 33.6971 206.97 39.6667 214.333 39.6667Z"
                                stroke="#DEB526" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M231 43L223.75 35.75" stroke="#DEB526" stroke-width="4" stroke-linecap="round"
                                stroke-linejoin="round" />
                        </svg>
                    </a>

                    <div class="header-utility-separator"></div>

                    <a href="../DangNhap/signin_login.html">
                        <svg width='30' height='30'>
                            <circle cx='15' cy='10' r='7' stroke='' stroke-width='0' fill='#DEB526' />
                            <ellipse cx='15' cy='30' rx='15' ry='10' fill='#DEB526' stroke='' stroke-width='0' />
                        </svg>
                    </a>

                    <div class="header-utility-separator"></div>

                    <a href="">
                        <svg id="heart-svg" width="30" height="30" viewBox="15 15 30 30"
                            xmlns="http://www.w3.org/2000/svg">
                            <path id="heart"
                                d="M29.144 20.773c-.063-.13-4.227-8.67-11.44-2.59C7.63 28.795 28.94 43.256 29.143 43.394c.204-.138 21.513-14.6 11.44-25.213-7.214-6.08-11.377 2.46-11.44 2.59z"
                                fill="#DEB526" />
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    <main>
        <div class="pop_up">
            <h1 class="heading_pop_up">TẠO GIẢI ĐẤU BILLARDS AZ</h1>
            <img src="../img/klara-kulikova-DUcVepObkXk-unsplash (1) 1.png" alt="" class="image_pop_up">
        </div>

        </div>
        <div class="set_information">
            <div class="form-wrapper">
                <div class="form-header">
                    <h1>Thông tin cơ bản</h1>
                </div>
                <div class="separator"></div> <!-- Vạch phân cách -->
                <div class="form-container">
                    <div class="form-section">
                        <h3><label for="admin">Người chủ trì:</label></h3>

                        <h3><label for="tournament">Tên của giải đấu:</label></h3>
                        <input type="text" id="tournament" name="tournament" placeholder="Nhập vào đây..." required>
                    </div>
                    <div class="form-section">
                        <h3><label for="description">Mô tả ngắn gọn:</label></h3>
                        <textarea id="description" name="description" placeholder="Không quá 150 ký tự"
                            maxlength="150" rows="5"></textarea>
                    </div>
                </div>
            </div>
        </div>

        <div class="match_stats">
            <div class="form-wrapper">
                <div class="form-header">
                    <h1>Thông tin trận đấu</h1>
                </div>
                <div class="separator"></div> <!-- Vạch phân cách -->
                <div class="form-container">
                    <div class="form-section">
                        <div class="mb-3">
                            <h3><label for="" class="form-label">Chọn hình thức thi đấu:</label></h3>
                            <select class="form-select form-select-lg" name="" id="">
                                <option selected>Thi đấu Đơn</option>
                                <option value="">Thi đấu Đội</option>

                            </select>
                        </div>
                        <div class="mb-3">
                            <h3><label for="" class="form-label">Thể loại thi đấu:</label></h3>
                            <br>
                            <select class="form-select form-select-lg1" name="" id="">
                                <option selected>9 bi</option>
                                <option value="">10 bi</option>
                            </select>
                        </div>

                    </div>
                    <div class="form-section">
                        <div class="radio_check">

                            <h3><label for="" class="form-label">Thể thức thi đấu:</label></h3>
                            <div class="opt">

                                <input type="radio" name="b2" checked id="SE">
                                <label class="label_select" for="SE">Single Elimination</label>

                            </div>
                            <div class="opt">
                                <input type="radio" name="b2" id="DE">
                                <label class="label_select" for="DE">
                                    Double Elimination
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        </div>

        <div class="register">
            <div class="form-wrapper">
                <div class="form-header">
                    <h1>Thiết lập đăng kí giải đấu</h1>
                </div>
                <div class="separator"></div> <!-- Vạch phân cách -->
                <div class="form-container">
                    <div class="form-section">
                        <div class="container mt-3">
                            <h3><label for="start">Thời gian bắt đầu đăng kí:</label></h3>
                            <input type="text" class="form-control" id="startDay" placeholder="dd/mm/yyyy" required>
                        </div>


                        <div class="container mt-4">
                            <h3><label for="end">Thời gian dừng tiếp nhận đăng kí:</label></h3>
                            <input type="text" class="form-control" id="endDay" placeholder="dd/mm/yyyy" required>
                        </div>

                    </div>
                    <div class="form-section">
                        <div class="start">
                            <h3><label for="playing">Thời gian bắt đầu giải đấu:</label></h3>
                            <input type="text" class="form-control" id="startDayPlaying" placeholder="dd/mm/yyyy" required>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="d-grid gap-2">
            <button type="button" name="" id="" class="btn btn-primary">
                Lưu & Tiếp tục
            </button>
        </div>


    </main>
    <!-- footer -->
    <div id="footer">
        <a href="../TrangChu/index.html"><img src="../img/logo.png" alt="" id="footer-logo"></a>
        <div class="footer-section" >

            <span class="footer-heading"">LIÊN HỆ</span>
            <div><span class="footer-info-title">Địa chỉ: </span><span class="footer-info">số 20 ngõ 113 Hoàng Cầu, Ô chợ Dừa, Đống Đa, Hà Nội</span></div>
            <div><span class="footer-info-title">Hotline: </span><span class="footer-info">037287908</span></div>
            <div><span class="footer-info-title">Mở cửa: </span><span class="footer-info">24/7</span></div>
        </div>

        <div class="footer-section">
            <h2 class="footer-heading">THÔNG TIN</h2>
            <a href="">Liên hệ</a>
            <a href="">Giới thiệu</a>
            <a href="">Tuyển dụng</a>
        </div>

        <div class="footer-section">
            <h2 class="footer-heading">CHÍNH SÁCH</h2>
            <a href="">Chính Sách Bảo Mật</a>
            <a href="">Hướng dẫn thanh toán</a>
            <a href="">Hướng dẫn đặt bàn</a>
        </div>

        <div class="footer-section" id="footer-last-section">
            <h2 class="footer-heading">CHỨNG NHẬN</h2>
            <img src="../img/footer_bct.png" alt="">
            <img src="../img/footer_ncsc.png" alt="">
        </div>
    </div>
    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
    <script>

        document.addEventListener('DOMContentLoaded', function () {
            flatpickr('#startDay', {
                dateFormat: 'd/m/Y',
                closeOnSelect: true,

            });

            flatpickr('#endDay', {
                dateFormat: 'd/m/Y',
                closeOnSelect: true,

            });
            flatpickr('#startDayPlaying', {
                dateFormat: 'd/m/Y',
                closeOnSelect: true,

            });
        });
    </script>
</body>
<script src="../universal/header.js"></script>
</html>
