<!DOCTYPE html>
<html lang="en">

<head>
    <title>Thông tin đặt bàn</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Font awsome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap" rel="stylesheet" />

    <!-- Bootstrap CSS v5.2.1 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
    <link rel="stylesheet" href="./tt_datban.css" />
    <link rel="stylesheet" href="../universal/header.css">
</head>

<body>
        <div id="header">
            <!-- main section -->
            <div class="header-section" id="header-section-main">
                <div id="header-nav">
                    <a href="../TrangChu/index.html" class="header-nav-link">
                        <div class="header-nav-link-content active">
                            TRANG CHỦ
                        </div>
                    </a>

                    <a href="../GiaiDau/giaiDau.html" class="header-nav-link">
                        <div class="header-nav-link-content" id="dropdown">
                            GIẢI ĐẤU
                        </div>
                    </a>

                    <a href="../HoiVien/membership.html" class="header-nav-link">
                        <div class="header-nav-link-content" id="dropdown">
                            HỘI VIÊN
                        </div>
                    </a>
                </div>

                <a id="header-logo" href="../TrangChu/index.html"><img src="../img/LOGO.png" alt="" /></a>

                <!-- search -->
                <div id="header-utility">
                    <a href="">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="190 5 50 50"
                            fill="none">
                            <path
                                d="M214.333 39.6667C221.697 39.6667 227.667 33.6971 227.667 26.3333C227.667 18.9695 221.697 13 214.333 13C206.97 13 201 18.9695 201 26.3333C201 33.6971 206.97 39.6667 214.333 39.6667Z"
                                stroke="#DEB526" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M231 43L223.75 35.75" stroke="#DEB526" stroke-width="4" stroke-linecap="round"
                                stroke-linejoin="round" />
                        </svg>
                    </a>

                    <div class="header-utility-separator"></div>

                    <a href="../DangNhap/signin_login.html">
                        <svg width="30" height="30">
                            <circle cx="15" cy="10" r="7" stroke="" stroke-width="0" fill="#DEB526" />
                            <ellipse cx="15" cy="30" rx="15" ry="10" fill="#DEB526" stroke="" stroke-width="0" />
                        </svg>
                    </a>

                    <div class="header-utility-separator"></div>

                    <a href="">
                        <svg id="heart-svg" width="30" height="30" viewBox="15 15 30 30"
                            xmlns="http://www.w3.org/2000/svg">
                            <path id="heart"
                                d="M29.144 20.773c-.063-.13-4.227-8.67-11.44-2.59C7.63 28.795 28.94 43.256 29.143 43.394c.204-.138 21.513-14.6 11.44-25.213-7.214-6.08-11.377 2.46-11.44 2.59z"
                                fill="#DEB526" />
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    <main>
        <div class="nav_container">
            <a href="../TrangChu/index.html" class="nav_link">
                <h2 class="nav">TRANG CHỦ</h2>
            </a>
            <i class="fa-solid fa-chevron-right"></i>
            <a href="#" class="nav_link">
                <h2 class="nav">ĐẶT BÀN</h2>
            </a>
            <i class="fa-solid fa-chevron-right"></i>
            <a href="#" class="nav_link">
                <h2 class="nav active">THÔNG TIN ĐẶT BÀN</h2>
            </a>
        </div>
        <div class="TTDB">
            <h1>THÔNG TIN ĐẶT BÀN</h1>
        </div>
        <div class="information">
            <div class="form-wrapper">
                <div class="form-header">
                    <h2>BÀN BI A KKKING K9022 MÀU TRẮNG</h2>
                </div>
                <div class="separator"></div>
                <!-- Vạch phân cách -->
                <div class="form-container">
                    <div class="form-section">
                        <img src="../img/billards_table 1.png" alt="" />
                    </div>
                    <div class="form-section">
                        <label for="price">Giá thuê:</label>
                        <span class="gia_tien">80000 VND/h</span><br />
                        <label for="member">Thẻ hội viên:</label>
                        <span class="member_type">Bạc</span><br />
                        <label for="combo">Chọn combo:</label>
                        <span class="combo-type">Combo 1</span><br />
                        <label for="table">Loại bàn:</label>
                        <span class="table-type">Tầm trung</span>
                    </div>
                </div>
                <div class="separator"></div>
                <h4><label for="tools"> Dụng cụ thuê thêm:</label></h4>
            </div>
        </div>

        <p style="text-align: center">
            Quý khách vui lòng điền các thông tin cần thiết vào mẫu dưới đây
            để xác nhận:
        </p>
        <p style="text-align: center">
            (Lưu ý: Những dòng có dấu * là bắt buộc phải điền đầy đủ)
        </p>

        <div class="information_KH">
            <div class="form-wrapper">
                <div class="form-container">
                    <label for="name">Họ và tên:</label>
                    <span style="color: red; font-size: 32px; font-weight: 700">*</span>
                    <input type="text" id="name" name="name" required />
                    <label for="time">Giờ đặt bàn:</label>
                    <span style="color: red; font-size: 32px; font-weight: 700">*</span>
                    <input type="time" id="time" name="time" required />
                    <label for="information">Thông tin thêm:</label>
                    <textarea name="more_info" id="information" cols="20" rows="10"></textarea>
                </div>
            </div>
        </div>
        <div class="d-grid gap-2">
            <button type="button" id="submitBtn" class="btn btn-primary"
                style="font-size: 26px; color: black; font-weight: 700;">
                Hoàn tất
            </button>
        </div>
        <div id="error-message-container" style="text-align: center; margin-top: 10px;">
            <div id="error-message" style="color: red; font-size: 16px; display: none;"></div>
        </div>

    </main>

    <!-- footer -->
    <div id="footer">
        <a href="../TrangChu/index.html"><img src="../img/logo.png" alt="" id="footer-logo"></a>
        <div class="footer-section" >

            <span class="footer-heading"">LIÊN HỆ</span>
            <div><span class="footer-info-title">Địa chỉ: </span><span class="footer-info">số 20 ngõ 113 Hoàng Cầu, Ô chợ Dừa, Đống Đa, Hà Nội</span></div>
            <div><span class="footer-info-title">Hotline: </span><span class="footer-info">037287908</span></div>
            <div><span class="footer-info-title">Mở cửa: </span><span class="footer-info">24/7</span></div>
        </div>

        <div class="footer-section">
            <h2 class="footer-heading">THÔNG TIN</h2>
            <a href="">Liên hệ</a>
            <a href="">Giới thiệu</a>
            <a href="">Tuyển dụng</a>
        </div>

        <div class="footer-section">
            <h2 class="footer-heading">CHÍNH SÁCH</h2>
            <a href="">Chính Sách Bảo Mật</a>
            <a href="">Hướng dẫn thanh toán</a>
            <a href="">Hướng dẫn đặt bàn</a>
        </div>

        <div class="footer-section" id="footer-last-section">
            <h2 class="footer-heading">CHỨNG NHẬN</h2>
            <img src="../img/footer_bct.png" alt="">
            <img src="../img/footer_ncsc.png" alt="">
        </div>
    </div>
    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
    <script>
        document.getElementById('submitBtn').addEventListener('click', function () {
            let isValid = true;
            const inputs = document.querySelectorAll('input[required], textarea[required]');
            inputs.forEach(input => {
                if (!input.value.trim()) {
                    isValid = false;
                }
            });

            const errorMessage = document.getElementById('error-message');
            if (isValid) {
                errorMessage.textContent = '';
            } else {
                errorMessage.textContent = 'Vui lòng nhập đủ thông tin cần thiết!';
                errorMessage.style.display = 'block';
            }
        });

    </script>
</body>
<script src="../universal/header.js"></script>
</html>