/*<-- Header-->*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

html {
    scroll-behavior: smooth;
}
button:hover {
    opacity: 0.7;
}
body {
    position: relative;

    min-width: 800px;

    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 400;
}

a {
    text-decoration: none;
}

#header {
    position: sticky;
    top: 0;

    width: 100%;
    height: 110px;

    font-family: "Poppins", sans-serif;
    font-weight: 600;

    z-index: 20;

    transition: 0.25s;
}

.header-section {
    position: relative;

    width: 100%;
}

/* Main section */
#header-section-main {
    box-sizing: border-box;

    position: relative;

    width: 100%;
    height: 110px;

    padding-inline: 3dvw;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #232323;
}

#header-logo {
    position: absolute;
    left: calc(50% - 55px);
}

#header-logo > img {
    height: 110px;
}

#header-nav {
    position: relative;

    width: 461px;
    height: 100%;

    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
}

.header-nav-link-content {
    min-width: 100px;

    color: #cdcdcd;

    font-size: 26px;
    font-weight: 600;

    text-align: center;

    transition: 0.25s;
}

.header-nav-link-content:hover {
    color: #deb526;

    transition: 0.25s;
}

.active {
    color: #deb526;

    transition: 0.25s;
}

/* Utility bar */
#header-utility {
    width: 15%;

    margin-right: 3%;

    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
}

.header-utility-separator {
    height: 40px;
    width: 1px;

    background-color: #cdcdcd;
}

#header-utility > a > svg {
    filter: grayscale(1);

    transition: 0.25s;
}

#header-utility > a > svg:hover {
    filter: grayscale(0);

    transition: 0.25s;
}

/*<-- Header-->*/
.pop_up {
    width: 100%;
    position: relative;
    margin-bottom: 50px;
}
.heading_pop_up {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -200%);
    color: #deb526;
    font-size: 55px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}
.image_pop_up {
    width: 100%;
    object-fit: cover;
}
.title h1 {
    z-index: 1;
    color: #ffd700;
    font-family: "Montserrat", sans-serif;
    font-size: 75px;
    font-weight: 900;
    margin: 0;
}

.form-wrapper {
    border: 2px solid #000;
    padding: 20px;
    border-radius: 10px;
    margin: 20px auto;
    width: 70%;
    margin-bottom: 50px;
}
.information {
    margin-bottom: 50px;
}
.information .form-header {
    text-align: left;
    margin-bottom: 20px;
}

.information .form-container {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.information .form-section {
    padding: 20px;
    width: 45%;
}

.information .form-section label {
    display: block;
    margin-bottom: 10px;
}

.information .form-section input,
.information .form-section textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
}

.information .separator {
    width: 100%;
    height: 1px;
    background-color: #000;
    margin-bottom: 20px;
}
.match_reg {
    margin-bottom: 50px;
}
.match_reg .form-header {
    text-align: left;
    margin-bottom: 20px;
}

.match_reg .form-container {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.match_reg .form-section {
    padding: 20px;
    width: 45%;
}

.match_reg .form-section label {
    display: block;
    margin-bottom: 10px;
}

.match_reg .form-section input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
}

.match_reg .separator {
    width: 100%;
    height: 1px;
    background-color: #000;
    margin-bottom: 20px;
}

.match_reg .form-select-lg {
    width: calc(100% - 20px);
    height: 100%;
    padding: 10px;
    margin-bottom: 20px;
}

.match_reg .form-select-lg1 {
    display: flex;
    padding: 10px;
    margin-bottom: 20px;
}

.match_reg .radio_check {
    padding: 20px;
    transform: translateX(-5%);
}
.form-container .opt {
    display: flex;
    align-items: center;
    gap: 10px;
}
.form-container .opt input {
    transform: translateY(30%);
}
.form-container .opt .label_select {
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.match_reg .radio_check label {
    display: block;
    margin-bottom: 10px;
}

.match_reg .radio_check input {
    display: inline-block;
    width: auto;
    margin-bottom: 20px;
    vertical-align: middle;
}
.caution {
    margin-bottom: 50px;
}
.caution .form-header {
    text-align: left;
    margin-bottom: 20px;
}

.caution .form-container {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.caution .start {
    transform: translateX(-26%);
}

.caution .separator {
    width: 100%;
    height: 1px;
    background-color: #000;
    margin-bottom: 20px;
}

.purchase .form-header {
    text-align: left;
    margin-bottom: 20px;
}

.purchase .form-container {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.purchase .start {
    transform: translateX(-26%);
}

.purchase .separator {
    width: 100%;
    height: 1px;
    background-color: #000;
    margin-bottom: 20px;
}

.d-grid {
    position: relative;
    width: 100%; 
}

.btn-primary {
    display: inline-block;

    margin-inline: auto;
    margin-bottom: 75px;

    width: 308px;
    height: 64px;
    font-size: 20px;
    background-color: #deb526;
    border: none;
    transition: none;
}

.btn-primary:hover {
    background-color: #deb526;
}

/*<-- Footer-->*/
#footer {
    padding-inline: 3%;

    background-color: #333;

    display: flex;
    flex-direction: row;
    /* align-items: center; */
}

.footer-section {
    width: 25%;

    padding: 1%;

    display: flex;
    flex-direction: column;
}

.footer-section>div {
    margin-top: 10px;
    margin-bottom: 10px;
}

#footer-logo {
    width: 150px;
    height: 130px;

    margin-right: 5%;
    margin-top: 1%;

}


.footer-info {
    color: white;

    font-size: 16px;
}

.footer-info-title {
    color: #DEB526;

    font-size: 16px;
}

#footer-contact {
    font-size: 20px;
}

.footer-heading {
    margin-top: 25px;
    margin-bottom: 25px;
    

    color: #DEB526;
    
    font-size: 20px;
    font-weight: 600;
}

.footer-section>a {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 5px;

    color: white;

    font-size: 16px;

    background-image: linear-gradient(white, white);
    background-position: bottom left;
    background-size: 0% 3px;
    background-repeat: no-repeat;

    transition: 0.25s;
}

.footer-section>a:hover {
    background-size: 100% 3px;

    transition: 0.25s;
}

#footer-last-section>img {
    margin-bottom: 40px;

    height: 75px;
    width: 225px;
}
/*<-- Footer-->*/