#body-container {
    position: relative;
}

/* Promotion carousel */
#promotion-carousel-container {
    position: relative;

    height: 85vh;

    overflow: hidden;
}

.promotion-carousel-btn {
    position: absolute;

    width: 7dvw;
    height: 100%;

    background-color: rgba(0, 0, 0, 0);

    border: none;

    cursor: pointer;

    z-index: 5;

    transition: 0.25s;
}

#promotion-carousel-inc {
    right: 0;
}

.promotion-carousel-content {
    position: absolute;
    left: 0;

    width: 100%;
    height: 85vh;

    background-color: #D9D9D9;

    transition: 0.25s;
}

.promotion-carousel-content>img {
    position: absolute;
    top: -25%;
    right: 0;

    width: 100%;
}

#promotion-carousel-number-container {
    position: absolute;
    bottom: 5vh;
    left: calc(50% - 7vw);

    width: 14vw;
    height: 2.5vh;

    display: flex;
    justify-content: space-between;
    align-items: center;

    z-index: 10;
}

.promotion-carousel-number-btn {
    width: 2.5vh;
    height: 2.5vh;

    background-color: #cdcdcd;

    border-radius: 500px;

    cursor: pointer;

    transition: 0.25s;
}

.promotion-carousel-number-btn:hover {
    background-color: #DEB526;

    transition: 0.25s;
}

.active-number-btn {
    width: 4vw;

    background-color: #DEB526;
}

/* Lower banner area */
#lower-banner-container {
    position: relative;

    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #E9E9E9;
}

#lower-banner-container>img {
    width: 100%;
}

#lower-banner-container>span {
    position: absolute;

    right: 10%;

    background: linear-gradient(#DEB526, #DEB526);
    background-size: 0 3px;
    background-repeat: no-repeat;
    background-position: left bottom;

    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 40px;
    color: #DEB526;

    transition: 0.25s;
}

#lower-banner-container:hover > span {
    background-size: 100% 3px;

    transition: 0.25s;
}

/* home section */
.home-section {
    box-sizing: border-box;

    width: 100%;
    
    padding: 5%;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7vh;
}
/* about us */
.about-us h1 {

    color: #DEB526;
    
    font-size: 36px;
    font-weight: 600;
    text-align: center;
}

.about-us-separator {
    width: 35%;
    height: 3px;

    background-color: #DEB526;
}

.about-us-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5vh;
}

.about-us-section h2 {
    font-size: 20px;
    font-weight: 600;
}

.about-us-section p {
    font-size: 20px;
    text-align: center;
}

/* reserve tables */
.reserve-tables-heading {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.reserve-tables-heading h1 {
    color: #DEB526;
        
    font-size: 36px;
    font-weight: 600;
    text-align: center;
}

.reserve-tables-heading-separator {
    position: relative;

    width: 25%;
    height: 3px;

    background-color: #DEB526;
}

.separator-end {
    position: absolute;
    top: -4px;

    width: 10px;
    height: 10px;

    background-color: #DEB526;

    transform: rotate(45deg);
}

#separator-right {
    right: 0;
}

.tables-container {
    width: 80%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5%;
}

.tables {
    width: 30%;

    margin-top: 5%;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.table-img {
    position: relative;

    width: 100%;

    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 16px;
}

.table-img img {
    width: 100%;

    border-radius: 16px;
}

.table-discount {
    box-sizing: border-box;

    padding: 20px 10px 20px 10px;

    position: absolute;
    top: -15px;
    left: -15px;

    background-color: #0693E3;

    color: white;
    font-size: 16px;
    font-weight: 600;

    border-radius: 50%;

    display: none;
}

.discounted .table-discount {
    display: block;
}

.table-state {
    position: absolute;
    bottom: 10%;
    right: 0;

    padding: 10px 15px;

    background-color: rgba(255, 0, 0, 0.70);

    color: white;
    font-size: 16px;
    font-weight: 600;

    border-radius: 10px 0px 0px 10px;

    display: none;
}

.out-of-tables .table-state {
    display: block;
}

.out-of-tables a {
    pointer-events: none;
}

.out-of-tables img {
    opacity: 0.5;
}

.table-info {
    margin-top: 20px;

    display: flex;
    justify-content: space-between;
}

.table-name {
    color: #777;    
    font-size: 20px;
    font-weight: 600;
}

.table-price {
    color: #DE5D26;
    font-size: 20px;
    font-weight: 600;
}

.tournament-signup {
    background-color: #333;

    flex-direction: row;
    justify-content: center;
}

.tournament-signup-side-col {
    width: 30%;

    display: flex;
    flex-direction: column;
    gap: 25px;
}

.tournament-signup-middle-col {
    width: 30%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.tournament-signup-middle-col h1 {
    margin-bottom: 25px;

    color: #DEB526;
    font-size: 36px;
    font-weight: 900;
    text-align: center;
}

.tournament-signup-side-col img,
.tournament-signup-middle-col img {
    width: 100%;
}

#tournament-signup-btn {
    margin-top: 50px;
    
    display: inline-block;

    padding: 20px 20px;

    background-color: #DEB526;

    color: white;
    font-size: 26px;
    font-weight: 600;

    border-radius: 16px;

    transition: 0.25s;
}

#tournament-signup-btn:hover {
    background-color: #DE5D26;
}

/* membership */
.grid-container {
    display: grid;
    grid-template-columns: 20% 20% 40%;
    grid-template-rows: auto auto auto auto;
    gap: 3% 10%;
}

.grid-container h1 {
    grid-column-start: 1;
    grid-column-end: 3;

    color: #DEB526;
    font-size: 48px;
    font-weight: 900;
}

.grid-container p {
    grid-column-start: 1;
    grid-column-end: 3;

    grid-row-start: 2;
    grid-row-end: 3;

    color: #777;
    font-size: 24px;
    font-weight: 600;
}

.grid-container a {
    grid-column-start: 1;
    grid-column-end: 2;

    grid-row-start: 3;
    grid-row-end: 4;

    display: inline;

    padding: 20px 10px;

    background-color: #DEB526;

    color: white;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    line-height: normal;

    border-radius: 16px;

    transition: 0.25s;
}

.grid-container a:hover {
    background-color: #DE5D26;
}

.grid-container img {
    border-radius: 16px;
}

.grid-container .img1 {
    grid-column-start: 1;
    grid-column-end: 2;

    grid-row-start: 4;
    grid-row-end: 5;
}

.grid-container .img2 {
    grid-column-start: 2;
    grid-column-end: 3;

    grid-row-start: 3;
    grid-row-end: 5;
}

.grid-container .img3 {
    grid-column-start: 3;
    grid-column-end: 4;

    grid-row-start: 1;
    grid-row-end: 5;
}