* {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
/* Header */
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

html {
    scroll-behavior: smooth;
}

body {
    position: relative;

    min-width: 800px;

    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 400;
}

a {
    text-decoration: none;
}

#header {
    position: sticky;
    top: 0;

    width: 100%;
    height: 110px;

    font-family: "Montserrat", sans-serif;
    font-weight: 600;

    z-index: 20;

    transition: 0.25s;
}

.header-section {
    position: relative;

    width: 100%;
}

/* Main section */
#header-section-main {
    box-sizing: border-box;

    position: relative;

    width: 100%;
    height: 110px;

    padding-inline: 3dvw;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #232323;
}

#header-logo {
    position: absolute;
    left: calc(50% - 55px);
}

#header-logo > img {
    height: 110px;
}

#header-nav {
    position: relative;

    width: 461px;
    height: 100%;

    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
}

.header-nav-link-content {
    min-width: 100px;

    color: #cdcdcd;

    font-size: 20px;
    font-weight: 600;

    text-align: center;

    transition: 0.25s;
}

.header-nav-link-content:hover {
    color: #deb526;

    transition: 0.25s;
}

.active {
    color: #deb526;

    transition: 0.25s;
}

/* Utility bar */
#header-utility {
    width: 15%;

    margin-right: 3%;

    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
}

.header-utility-separator {
    height: 40px;
    width: 1px;

    background-color: #cdcdcd;
}

#header-utility > a > svg {
    filter: grayscale(1);

    transition: 0.25s;
}

#header-utility > a > svg:hover {
    filter: grayscale(0);

    transition: 0.25s;
}
/* Main content */
/* Product */
#main_content {
    margin: 0 40px;
}
#main_content .current_position {
    margin-top: 20px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
#main_content .current_position .current_link {
    color: #000;
    font-size: 20px;

    font-weight: 600;
}
#main_content .current_position .current_link:hover {
    color: #deb526;
    transition: 0.25s;
}
.active {
    color: #deb526 !important;
    transition: 0.25s;
}
#main_content .product {
    display: flex;
    justify-content: space-between;
    flex: 1;
}

.product .info_product {
    margin-left: 38px;
}
.info_product .info_header {
    color: #deb526;
    font-size: 30px;

    font-weight: 700;
    text-align: start;
    margin-bottom: 15px;
}
.info_product .info_detail .introduce {
    color: #555;
    font-size: 18px;
    font-weight: 500;
    text-align: justify;
    margin-bottom: 10px;
}
.info_product .info_detail .introduce span {
    color: #000;
    font-weight: 700;
}
.info_product .info_detail {
    border-bottom: 1px solid #000;
    padding-bottom: 20px;
}
.info_product .info_detail .detail {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
    align-items: center;
}
.info_product .info_detail .detail .detail_index {
    color: #333;
    font-size: 15px;

    font-weight: 500;
}
.info_product .detail .detail_value {
    color: #777;
    font-size: 15px;

    font-weight: 500;
    text-align: end;
}
.info_product .info_order {
    margin-top: 20px;
}
.info_order .status_table,
.info_order .price,
.info_order .member,
.info_order .select_combo,
.info_order .order_table {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}
.info_order .status_table .status,
.price .price_of_table,
.member .member_card,
.select_combo .content_select_combo {
    color: #000;
    font-size: 18px;
    font-weight: 600;
}
.status_table .status_ok,
.status_table .status_no {
    color: #777;
    font-size: 18px;
    font-weight: 700;
}
.status_table .status_ok {
    position: relative;
}
.status_table .status_ok::after {
    content: "";
    width: 1px;
    height: 18px;
    background-color: #777;
    display: inline-block;
    position: absolute;
    transform: rotate(10deg);
    right: -10px;
}
.ok_table {
    color: #1f7900 !important;
}
.no_table {
    color: #c20303 !important;
}
.info_order .price_value {
    color: #de5d26;
    font-size: 18px;
    font-weight: 600;
}
.info_order .content_member_card {
    color: #000;
    font-size: 18px;
    font-weight: 600;
}
.info_order .combo {
    color: #777;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    position: relative;
}
.info_order .combo:nth-of-type(1):after,
.info_order .combo:nth-of-type(2):after {
    content: "";
    width: 1px;
    height: 18px;
    background-color: #777;
    display: inline-block;
    position: absolute;
    transform: rotate(10deg);
    right: -10px;
}

.active.combo {
    color: #deb526;
}
.info_order .order_table .rent_tool {
    padding: 10px 15px;
    color: #fff;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    background: #de5d26;
    border: none;
    outline: none;
    border-radius: 10px;
}
.info_order .order_table .order {
    padding: 10px 15px;
    color: #fff;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    background: #deb526;
    border: none;
    outline: none;
    border-radius: 10px;
}
.product .main_image_product .main_image {
    width: 700px;
    height: auto;
    object-fit: cover;
    object-position: center;
}
.product .main_image_product {
    margin-bottom: 20px;
}
.product .sub_image_product {
    display: flex;
    justify-content: space-between;
}
.product .order_table .list_selected {
    border: none;
    outline: none;
    background: #333333;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
.product .icon_list_selected {
    object-position: center;
    transform: translate(-5%);
}
/* Description */
#main_content .description {
    margin-top: 90px;
    border-top: 1px solid #000;
    padding-bottom: 40px;
    border-bottom: 1px solid #000;
}
#main_content .description .main_description,
#main_content .description .sub_description {
    color: #777;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    display: inline-block;
    padding: 15px 30px;
    border-top: 6px solid #777;
    cursor: pointer;
    transform: 0.1s ease;
}
/* Acitve main,sub description */
#main_content .description .main_description.active {
    color: #deb526 !important;
    border-top-color: #deb526 !important;
}

#main_content .description .sub_description.active {
    color: #deb526 !important;
    border-top-color: #deb526 !important;
}
/* Unactive main, sub description */

.description .title {
    display: flex;
}
#main_content .description .content_main,
#main_content .description .content_sub {
    padding-left: 10px;
    transform: 0.3s ease;
}
#main_content .description .content {
    color: #000;
    text-align: start;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 10px;
    position: relative;
}
#main_content .description .content::after {
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #000;
    top: 50%;
    left: -10px;
    transform: translateY(-50%);
}
/* Active content main and sub */
#main_content .description .content_main.active {
    display: block;
}

#main_content .description .content_sub.active {
    display: block;
}
/* Unactive content mai and sub */
#main_content .description .content_main.hidden {
    display: none;
}

#main_content .description .content_sub.hidden {
    display: none;
}
/* Others */
#main_content .others {
    padding: 20px 0 50px 0;
}
#main_content .others .title_others {
    padding-left: 15px;
    display: block;
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.glider {
    display: flex;
    align-items: center;
}
.glider-contain .product {
    display: flex;
    flex-direction: column;
    transform: scale(0.9);
}
.glider-contain .product .product_info {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.glider-contain .product_info .product_name {
    color: #777;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.others .product_info .product_price {
    color: #de5d26;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.glider-contain {
    display: flex;
    align-items: center;
}
/* Footer */
#footer {
    padding-inline: 3%;

    background-color: #333;

    display: flex;
    flex-direction: row;
    /* align-items: center; */
}

.footer-section {
    width: 25%;

    padding: 1%;

    display: flex;
    flex-direction: column;
}

.footer-section > div {
    margin-top: 10px;
    margin-bottom: 10px;
}

#footer-logo {
    width: 150px;
    height: 130px;

    margin-right: 5%;
    margin-top: 1%;
}

.footer-info {
    color: white;

    font-size: 16px;
}

.footer-info-title {
    color: #deb526;

    font-size: 16px;
}

#footer-contact {
    font-size: 20px;
}

.footer-heading {
    margin-top: 25px;
    margin-bottom: 25px;

    color: #deb526;

    font-size: 20px;
    font-weight: 600;
}

.footer-section > a {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 5px;

    color: white;

    font-size: 16px;

    background-image: linear-gradient(white, white);
    background-position: bottom left;
    background-size: 0% 3px;
    background-repeat: no-repeat;

    transition: 0.25s;
}

.footer-section > a:hover {
    background-size: 100% 3px;

    transition: 0.25s;
}

#footer-last-section > img {
    margin-bottom: 40px;

    height: 75px;
    width: 225px;
}
